{
  "presets": [
    "env"
  ],
  "plugins": [
    [
      "transform-runtime",
      {
        "helpers": true,
        "polyfill": false,
        "regenerator": false,
        "moduleName": "babel-runtime"
      }
    ]
  ],
  "ignore": ["test/**/*.js"],
  "env": {
    "test": {
      "sourceMaps": "inline",
      "plugins": ["istanbul"]
    }
  }
}
