{
  "presets": ["es2015"],
  "plugins": ["transform-runtime"],
  "ignore": ["test/**/*.js"],
  "env": {
    "development": {
      "sourceMaps": "inline"
    },
    "test": {
      "sourceMaps": "inline",
      "plugins": ["istanbul"]
    }
  }
}
