{
  "presets": [
    [
      "env",
      {
        "targets": {
          "node": 4,
          "browsers": [">1%"]
        }
      }
    ]
  ],
  "plugins": [
    [
      "transform-runtime",
      {
        "helpers": true,
        "polyfill": false,
        "regenerator": false,
        "moduleName": "babel-runtime"
      }
    ]
  ],
  "ignore": ["test/**/*.js"],
  "env": {
    "test": {
      "sourceMaps": "inline",
      "plugins": ["istanbul"]
    }
  }
}